.a
{
    font-size: smaller;
}

#img{
    height:150px;
    width:150px;
    margin-left: 20%;
}

#card{
    border-color: mediumblue;
}
// #imgPeople{
//     height:250px;
//     width:250px;
//     // margin-left: 20%;
// }