<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Tamar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title>tux</ion-title>
</ion-toolbar>
<ion-content fullscreen class="ion-padding">
  <ion-icon name="logo-tux" style="color: #000" size="large"></ion-icon>
  <p>The official mascot of the Linux kernel!</p>
</ion-content>