

<!-- <ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <ion-content fullscreen class="ion-padding">
    <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="floating">User name<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="userName" [(ngModel)]=currentUser.UserName></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">password<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="password" [(ngModel)]="currentUser.Tz"></ion-input>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin"  (click)="login()">Login</ion-button>
      </div>

    </form>

   
  </ion-content> -->
  
  <!-- <ion-alert-controller></ion-alert-controller> -->

<!-- </ion-app> -->