.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
margin-left: 20px;
}

img{
max-width: none;
width: 50px !important;
height: 50px !important;
}

button{
    background-color: white;
}
ion-page{
    background-image: url('../assets/images/amusement-park-center-amsterdam-night_146671-4654.jpg');
}

.alert-button-group.sc-ion-alert-md {
    justify-content: flex-start;
}