hellow
<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>                    
           <ion-icon name="mail" slot="start"></ion-icon>                 
          <ion-label>Inbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Outbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Feedback</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Feedback</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon  name="star-half-outline" slot="start"></ion-icon>
          <ion-label>Rides</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>      
  
  

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start"color="danger">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title>Asument Park</ion-title>
      </ion-toolbar>
    </ion-header>
   
    <ion-content fullscreen>

      <ion-list>

        <ion-list-header>
          Registration for park reides:
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start"> 
            <img src="../assets/images/amusement-park-center-amsterdam-night_146671-4654.jpg">
        </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
        
          </ion-label>
        </ion-item>     

        <ion-item>
          <ion-avatar slot="start"> 
            <img src="../assets/images/carousel-with-chains-amusement-park-summer-sunny-day_72594-1683.jpg">
         </ion-avatar>
          <ion-label>
            <h2>Han</h2>
            <h3>Look, kid...</h3>
            <p>I've got enough on my plate as it is, and I...</p>             
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
     </ion-item>
  
        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/ferris-wheel-blue-sky_49683-4260.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Rey</h2>
            <h3>I can handle myself</h3>
            <p>You will remove these restraints and leave...</p>
            <!-- <ion-button size="small" color="danger">registration</ion-button> -->
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item> 
  
         <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/gomel-belarus-august-22-2019-bumper-car-amusement-park_77190-3528.jpg">
           </ion-avatar>
          <ion-label>
            <h2>Luke</h2>
            <h3>Your thoughts betray you</h3>
            <p>I feel the good in you, the conflict...</p>
           
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
        
      </ion-list>

        <ion-item>
          <ion-avatar slot="start"> 
            <img src="../assets/images/ferris-wheel-local-fair_116380-100.jpg"> 
         </ion-avatar>
          <ion-label>
            <h2>Ben</h2>
            <h3>Move Along</h3>
            <p>These aren't the droids you're looking for...</p>
            
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
  
          </ion-label>
        </ion-item>            
        <ion-item>
          <ion-avatar slot="start"> 
            <img src="../assets/images/night-view-amusement-park-carousel_146671-5087.jpg">
         </ion-avatar>
          <ion-label>
            <h2>Leia</h2>
            <h3>You're My Only Hope</h3>
            <p>I've placed information vital to the survival...</p>
  
           
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>           
         <ion-item>
          <ion-avatar slot="start"> 
            <img src="../assets/images/nostalgic-horse-detail-carousel-spinning-with-light-blurs-night_23-2148056742.jpg">
        </ion-avatar>
          <ion-label>
            <h2>Yoda</h2>
            <h3>Size matters not</h3>
            <p>Do or do not. There is no try...</p>
  
           
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/roller-coaster_114775-13.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Yoda</h2>
            <h3>Size matters not</h3>
            <p>Do or do not. There is no try...</p>
            
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
  
           </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> 
            <img src="../assets/images/striped-decorative-tent-amusement-park_23-2147910340.jpg">
         </ion-avatar>
          <ion-label>
            <h2>Yoda</h2>
            <h3>Size matters not</h3>
            <p>Do or do not. There is no try...</p> 
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
  
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> 
            <img src="../assets/images/vacation-island-outdoor-universal-view_1232-3863.jpg">
         </ion-avatar>
          <ion-label>
            <h2>Yoda</h2>
            <h3>Size matters not</h3>
            <p>Do or do not. There is no try...</p>             
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
  
         </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> 
            <img src="../assets/images/tourism-recreation-symbol-travel-building_1203-4318.jpg">
         </ion-avatar>
          <ion-label>
            <h2>Yoda</h2>
            <h3>Size matters not</h3>
            <p>Do or do not. There is no try...</p>
            <!-- <ion-button size="small" color="danger">registration</ion-button> -->
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
           
          </ion-label>
        </ion-item>

    </ion-content>

  </div>


    <!-- <ion-content class="ion-padding">
      <ion-button expand="block" onclick="openMenu()" color="danger">Asument Park</ion-button>
    </ion-content> -->
    <!-- <ion-header translucent>
      <ion-toolbar>
        <ion-title>Rides</ion-title>
      </ion-toolbar>
    </ion-header> -->

  
</ion-app>

<ion-app>
  <ion-router-outlet></ion-router-outlet> 
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>    
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>
            Inbox
            <button (click)="routeRide()">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            
            </button>
            
           
          </ion-label>
        
        </ion-item>

        <ion-item>
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Outbox
            <button>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
          </ion-label>

        </ion-item>

        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Feedback
            <button> <ion-icon name="chevron-forward-outline"></ion-icon></button>
          </ion-label>
        </ion-item>
       
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Feedback
            <button> <ion-icon name="chevron-forward-outline"></ion-icon></button>
          </ion-label>
        </ion-item>
       
        <ion-item>
          <ion-icon name="star-half-outline" slot="start"></ion-icon>
          <ion-label>Rides
            <button> <ion-icon name="chevron-forward-outline"></ion-icon></button>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Map
            <button> <ion-icon name="chevron-forward-outline"></ion-icon></button>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>


  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" color="danger">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Asument Park</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>

      <ion-list>

        <ion-list-header>
          Registration for park reides:
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/amusement-park-center-amsterdam-night_146671-4654.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>

          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/carousel-with-chains-amusement-park-summer-sunny-day_72594-1683.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Han</h2>
            <h3>Look, kid...</h3>
            <p>I've got enough on my plate as it is, and I...</p>
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/ferris-wheel-blue-sky_49683-4260.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Rey</h2>
            <h3>I can handle myself</h3>
            <p>You will remove these restraints and leave...</p>
            <!-- <ion-button size="small" color="danger">registration</ion-button> -->
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/gomel-belarus-august-22-2019-bumper-car-amusement-park_77190-3528.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Luke</h2>
            <h3>Your thoughts betray you</h3>
            <p>I feel the good in you, the conflict...</p>

            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>

      </ion-list>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/ferris-wheel-local-fair_116380-100.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Ben</h2>
          <h3>Move Along</h3>
          <p>These aren't the droids you're looking for...</p>

          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>

        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/night-view-amusement-park-carousel_146671-5087.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Leia</h2>
          <h3>You're My Only Hope</h3>
          <p>I've placed information vital to the survival...</p>


          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/nostalgic-horse-detail-carousel-spinning-with-light-blurs-night_23-2148056742.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>


          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/roller-coaster_114775-13.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>

          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>

        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/striped-decorative-tent-amusement-park_23-2147910340.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>

        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/vacation-island-outdoor-universal-view_1232-3863.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>

        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/tourism-recreation-symbol-travel-building_1203-4318.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
          <!-- <ion-button size="small" color="danger">registration</ion-button> -->
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>

        </ion-label>
      </ion-item>

    </ion-content>

  </div>


  <!-- <ion-content class="ion-padding">
      <ion-button expand="block" onclick="openMenu()" color="danger">Asument Park</ion-button>
    </ion-content> -->
  <!-- <ion-header translucent>
      <ion-toolbar>
        <ion-title>Rides</ion-title>
      </ion-toolbar>
    </ion-header> -->


</ion-app>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="floating">User name<ion-text color="danger">*</ion-text></ion-label>
          <ion-input></ion-input>
        </ion-item>

       
        <ion-item>
          <ion-label position="floating">password<ion-text color="danger">*</ion-text></ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Age<ion-text color="danger">*</ion-text></ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Number children<ion-text color="danger">*</ion-text></ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
      </div>
    </form>
  </ion-content>
  <ion-alert-controller></ion-alert-controller> -->

</ion-app> 