<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>



<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" color="danger">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Asument Park</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content fullscreen>
  
      <ion-list>
  
        <ion-list-header>
          Registration for park reides:
        </ion-list-header>
  
        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/amusement-park-center-amsterdam-night_146671-4654.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
  
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/carousel-with-chains-amusement-park-summer-sunny-day_72594-1683.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Han</h2>
            <h3>Look, kid...</h3>
            <p>I've got enough on my plate as it is, and I...</p>
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/ferris-wheel-blue-sky_49683-4260.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Rey</h2>
            <h3>I can handle myself</h3>
            <p>You will remove these restraints and leave...</p>
            <!-- <ion-button size="small" color="danger">registration</ion-button> -->
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-avatar slot="start">
            <img src="../assets/images/gomel-belarus-august-22-2019-bumper-car-amusement-park_77190-3528.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Luke</h2>
            <h3>Your thoughts betray you</h3>
            <p>I feel the good in you, the conflict...</p>
  
            <ion-button color="light">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
  
      </ion-list>
  
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/ferris-wheel-local-fair_116380-100.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Ben</h2>
          <h3>Move Along</h3>
          <p>These aren't the droids you're looking for...</p>
  
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/night-view-amusement-park-carousel_146671-5087.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Leia</h2>
          <h3>You're My Only Hope</h3>
          <p>I've placed information vital to the survival...</p>
  
  
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/nostalgic-horse-detail-carousel-spinning-with-light-blurs-night_23-2148056742.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
  
  
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/roller-coaster_114775-13.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
  
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/striped-decorative-tent-amusement-park_23-2147910340.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/vacation-island-outdoor-universal-view_1232-3863.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/tourism-recreation-symbol-travel-building_1203-4318.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
          <!-- <ion-button size="small" color="danger">registration</ion-button> -->
          <ion-button color="light">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button color="light">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
  
        </ion-label>
      </ion-item>
  
    </ion-content>
  
  </div>
  </ion-app>